
.img{
    z-index: 1;
}

.img::after{
    content: '';
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgb(68, 68, 68);
  width: 100%;
  height: 70%;
  z-index: -1;
  transition: .5s;
    
}

.card:hover .img::after{
    height: 100%;
    background-color: gray;
}

.btn{
  z-index: 1;
  background-color: #343435;
  
}
.btn::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #cca471;
  width: 100%;
  height: 3px;
  z-index: -1;
  transition: .5s;
  
}

.btn:hover::after{
  height: 100%;
}
.btn{
  z-index: 1;
  
  
}
.btn::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #cca471;
  width: 100%;
  height: 3px;
  z-index: -1;
  transition: .5s;
  
}

.btn:hover::after{
  height: 100%;
}

.icons{
    opacity: 0;
    transition: .5s;
}
.card:hover .icons{
    opacity: 1;
}