.ContactHome .new::after{
content: '';
    position: absolute;
    left: -40px;
    bottom: 0;
  background-color: #cca471;
  width: 300px;
  height: 5px;
}

.ContactHome .in-b{
    z-index: 1;
}

.ContactHome .in-b::after{
    content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #cca471;
  width: 100%;
  height: 3px;
  z-index: -1;
  transition: .3s;
}

.ContactHome .in-b:hover:after{
      height: 100%;
}
.ContactHome .icon-b{
    z-index: 1;
}

.ContactHome .icon-b::after{
    content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #cca471;
  width: 100%;
  height: 3px;
  z-index: -1;
  transition: .5s;
}

.ContactHome .icon-b:hover:after{
      height: 100%;
}