.TopHome .aler::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
  background-color: #cca471;
  width: 220px;
  height: 5px;
}
.TopHome .aler2::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
  background-color: #cca471;
  width: 255px;
  height: 5px;
}
.TopHome .aler3::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
  background-color: #cca471;
  width: 300px;
  height: 5px;
}

.ex{
    line-height: 1.8;
}
.TopHome .btn{
  z-index: 1;
  background-color: #343435;
  
}
.TopHome .btn::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #cca471;
  width: 100%;
  height: 3px;
  z-index: -1;
  transition: .3s;
  
}

.TopHome .btn:hover::after{
  height: 100%;
}



