



.btn{
  z-index: 1;
  background-color: #343435;
  
}
.btn::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #cca471;
  width: 100%;
  height: 3px;
  z-index: -1;
  transition: .3s;
  
}

.btn:hover::after{
  height: 100%;
}


.con::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 70%;
    height: 5px;
    background: #cca471;
     transform: scaleX(0);
  transform-origin: left;
    animation: moveLine 5s  infinite alternate  ease-out;
}
@keyframes moveLine {
  0% {
      transform: scaleX(.3);
      transform-origin: left;
    }
    

  50% {
      transform: scaleX(1);
      transform-origin: left;
}
  60% {
      transform: scaleX(1);
      transform-origin: right;
}

100% {
    transform: scaleX(.3);
    transform-origin: right;
  }
}
