.Navbar nav{z-index:10}.link .dropdown-content{transform-origin:top;opacity:0;transform:scale(0)}.link:hover .dropdown-content{opacity:1;transform:scale(1)}.Navbar .active{transition:all .3s;color:#cca471!important}
