

.CategarosHome .one{
    z-index: 0;
}

.CategarosHome .one::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.61);
    transition: .5s;
    opacity: 0;
    z-index: 1;
}
.CategarosHome .one:hover::after{
    height: 100%;
    opacity: 1;
}
.CategarosHome .tow{
    z-index: 0;
}

.CategarosHome .tow::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.61);
    transition: .5s;
    opacity: 0;
    z-index: 1;
}
.CategarosHome .tow:hover::after{
    height: 100%;
    opacity: 1;
}
.CategarosHome .three{
    z-index: 0;
}

.CategarosHome .three::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.61);
    transition: .5s;
    opacity: 0;
    z-index: 1;
}
.CategarosHome .three:hover::after{
    height: 100%;
    opacity: 1;
}